/**
 * RUTA DE ARCHIVO: /pec3/estilo/estilo.css
 * 
 * Estilos CSS para el documento HTML.
 * 
 * Contiene estilos para el encabezado, pie de página, cuerpo y secciones específicas como index.html, video & blog, y entrada.html.
 * 
 * Los estilos están organizados según consultas de medios para diferentes tamaños de pantalla (PC, tableta, teléfono).
 */

html {
  margin: auto;
  background-color: rgb(247, 247, 247);
  font-family: "Lato", "Noto Serif";
  font-weight: 300;
  color: rgb(0, 59, 74);
  font-size: 1rem;
}
.color_verde {
  color: rgb(0, 59, 74);
}
.back_verde{
  background-color: rgb(0, 59, 74);
}
strong {
  font-weight: bold;
}
body {
  margin: 0;
}
li {
  list-style: none;
}
a {
  color: rgb(191, 12, 240);
  text-decoration: underline dotted;
}
a:hover {
  color: rgb(0, 59, 74);
}

ul {
  padding: 0;
}

h1,
h2 {
  font-family: "Noto Serif";
}
button {
  color: #fff;
  font-weight: bold;
}
/* //////////////////// */
/* 				 HEADER */
/* //////////////////// */

header {
  background-color: rgb(255, 255, 255);
  vertical-align: center;
  padding: 0 3rem;
  font-size: 1rem;
}
.nav {
  height: 5rem;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.logo {
  height: 2.5rem;
}
.anav {
  color: rgb(0, 59, 74);
  text-decoration: none;
  font-weight: 900;
}
.anav:hover {
  color: rgb(191, 12, 240);
}
.l1 {
  display: inline;
  padding-right: 0.5rem;
}
.l2 {
  display: inline;
  padding-left: 0.5rem;
  border-left: 1px solid;
}
.text_align_right {
  text-align: right;
}
.text_align_left{
  text-align: left;
}
.width_100 {
  width: 100%;
}
/* //////////////////// */
/* 				 FOOTER */
/* //////////////////// */

footer {
  color: rgb(255, 255, 255);
  padding: 2rem 3rem 4rem 3rem;
}
.logos {
  display: inline;
  padding-left: 0.5rem;
}
@media (min-width: 1100px) {
  #pie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .esquina_derecha {
    text-align: right;
  }
  .esquina_izquierda {
    text-align: left;
  }
  .li-link {
    display: inline;
    padding-right: 0.5rem;
  }
  .cookies,
  .aviso {
    padding-left: 0.5rem;
    border-left: 1px solid;
  }
}
@media (max-width: 1100px) {
  #pie {
    text-align: center;
  }
  .esquina_izquierda {
    text-align: center;
  }
  .esquina_derecha {
    text-align: center;
  }
}
#pie {
  font-size: 0.7rem;
}
.rs {
  text-decoration: none;
}
.rs:hover {
  opacity: 0.7;
}
.elin {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.elin:hover {
  color: rgb(229, 225, 254);
}

/* //////////////////// */
/* 				 BODY   */
/* //////////////////// */
main {
  font-size: 1.2rem;
}
@media (max-width: 500px) {
  main {
    font-size: 1rem;
  }
}

/* //////////////////// */
/* 			 INDEX.HTML */
/* //////////////////// */

/* General */
.cabecera {
  background-image: url("../img/hero-image-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.text1 {
  line-height: 2rem;
}
.paddingbot {
  padding-bottom: 3rem;
}
.speHead {
  background-color: rgb(247, 247, 247);
}
h1.titulo {
  font-weight: 900;
}
.btn {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background-color: rgb(191, 12, 240);
  cursor: pointer;
}
.input {
  width: 95%;
  padding: 0.5rem;
  margin-top: -1rem;
  border-radius: 7px;
  border: solid 2px;
  border-color: rgb(229, 225, 254);
}
.input::placeholder {
  font-size: 1rem;
}
.apartados {
  background-color: rgb(229, 225, 254);
}
legend {
  font-size: 0.4rem;
  text-align: right;
}

/**
 * 
 * CSS styles for different screen sizes (PC, Tablet, Phone).
 * 
 * PC:
 * - Defines styles for screens with a minimum width of 1100px.
 * - Adjusts padding, font sizes, and grid layout for PC screens.
 * 
 * Tablet:
 * - Defines styles for screens with a maximum width of 1100px.
 * - Adjusts padding, font sizes, and grid layout for tablet screens.
 * 
 * Phone:
 * - Defines styles for screens with a maximum width of 500px.
 * - Adjusts padding, font sizes, and grid layout for phone screens.
 */

/* PC */

@media (min-width: 1100px) {
  .cabecera {
    padding: 6rem 25rem 6rem 9.5rem;
  }
  .apartados {
    padding: 4rem 15rem;
  }
  .formulario {
    padding: 3rem 15rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
  }
  h1.titulo {
    font-size: 4.5rem;
  }
  .input {
    font-size: 1.5rem;
  }
  .info {
    font-size: 1rem;
  }
  .btn {
    font-size: 1.1rem;
  }
  .imagen_izquierda {
    transform: rotate(-5deg);
    text-align: right;
  }
  .imagen_derecha {
    transform: rotate(5deg);
    text-align: right;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
    align-items: center;
    padding-bottom: 2rem;
  }
  .grid1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    padding-bottom: 3rem;
  }
 
}

/* Tablet */

@media (max-width: 1100px) {
  h1{
    margin-left: 2rem;
  }
  .apartados {
    padding: 3.75rem 1.25rem 1.875rem;
  }
  .formulario {
    padding: 2rem 1rem;
  }

  .cabecera {
    padding: 10rem 1.25rem;
  }
  h1.titulo {
    font-size: 4.5rem;
  }
  .input {
    font-size: 1.5rem;
  }
  .info {
    font-size: 1rem;
  }
  .btn {
    font-size: 1.2rem;
  }
  .imagen_izquierda {
    transform: rotate(-5deg);
    text-align: right;
  }
  .imagen_derecha {
    transform: rotate(5deg);
    text-align: right;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3rem;
    align-items: center;
    padding-bottom: 3rem;
  }
  .grid1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    padding-bottom: 3rem;
  }
 
}

/* Phone */

@media (max-width: 500px) {
  h1{
    margin-left: 1rem;
  }
  .apartados {
    padding: 3.75rem 1.25rem 1.875rem;
  }
  .formulario {
    padding: 2rem 1rem;
  }
  .text1 {
    line-height: 1rem;
  }
  .cabecera {
    background-position: center bottom;
    padding: 6.25rem 0.125rem;
  }
  h1.titulo {
    font-size: 2rem;
  }
  .campo {
    font-size: 1rem;
  }
  .info {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 1rem;
  }
 
  .grid1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    align-items: center;
    margin-bottom: 10rem;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    align-items: center;
    margin-bottom: 10rem;
  }
 
  .imagen_izquierda {
    text-align: right;
    order: 1;
    transform: rotate(0);
  }
  .imagen_derecha {
    text-align: right;
    order: 1;
    transform: rotate(0);
  }
  .order_text {
    order: 2;
  }

}

/* //////////////////// */
/* 	VIDEO & BLOG	    */
/* //////////////////// */
@media (min-width: 1100px) {
  .cuerpo {
    padding: 0.625rem 2.5rem 4.375rem;
  }

  @media (max-width: 1100px) and (min-width: 500px) {
    .cuerpo {
      padding: 1rem 1.25rem 4.375rem;
      margin-left: 0.5rem;
    }
  }

  @media (max-width: 500px) {
    .cuerpo {
      padding: 0.625rem 1.25rem 4.375rem;
    }
  }
}
.vidbox {
  border: solid 1px rgb(229, 225, 254);
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

/* ############################################################################
                          video.html
############################################################################ */
@media (min-width: 1100px) {
  .vid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
    grid-gap: 2rem;
    height: auto;
    margin: 1rem;
  }
}
@media (max-width: 1100px) and (min-width: 500px) {
  .vid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    grid-gap: 2rem;
    height: auto;
    margin: 2rem;
  }
}
@media (max-width: 500px) {
  .vid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    height: auto;
    grid-gap: 4rem;
    margin: 1rem;

  }
}
.video_info {
  box-sizing: border-box;
  width: 100%;
  font-size: 0.8rem;
  padding: 0 1.25rem 1.25rem;
}
.responsiveiframe {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.video_div{
  background-color: #fff;
  border: 1px solid rgb(158, 157, 171);
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}
/* ############################################################################
                          blog.html
############################################################################ */

@media (min-width: 1100px) {
  .blog1 {
    grid-column: span 2;
  }
  .blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: left;
    grid-gap: 4rem;
    margin-bottom: 2rem;
  }
 
  .derechos_autor {
    font-size: 0.4rem;
  }
  .blog_info {
    font-size: 0.8rem;
  }
  .center {
    font-size: 0.9rem;
  }
  .info_img {
    font-size: 0.7rem;
  }
}
@media (max-width: 1100px) and (min-width: 500px) {
  .blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    grid-gap: 2rem; 
    margin: 0 2rem 2rem 2rem; 
  }
  
  .derechos_autor {
    font-size: 0.4rem;
  }
  .blog_info {
    font-size: 0.6rem;
  }
  .center {
    font-size: 0.9rem;
  }
  .info_img {
    font-size: 0.7rem;
  }
}
@media (max-width: 500px) {
  .blog {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    height: auto;
    grid-gap: 2.5rem;
    margin: 1rem;
  }
  
  .derechos_autor {
    font-size: 0.9rem;
  }
  .blog_info {
    font-size: 1rem;
  }
  .center {
    font-size: 0.9rem;
  }
}
.blog1 {
  border: solid 1px rgb(229, 225, 254);
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.overlaytext {
  position: relative;
}
.blogima {
  width: 100%;
}
.btn_verde {
  font-size: 0.9rem;
  position: absolute;
  border: none;
  top: 2%;
  left: 1%;
  color: rgb(255, 255, 255);
  padding: 0.4rem;
  border-radius: 6px;
}
.derechos_autor {
  position: absolute;
  border: none;
  bottom: 4%;
  right: 2%;
  background-color: rgba(247, 247, 247, 0.7);
  padding: 0.1875rem 0.3125rem;
  font-weight: 700;
}
.blog_info {
  box-sizing: border-box;
  padding: 0 1.3rem 1.3rem;
}
.info_img {
  color: rgb(158, 157, 171);
}
a.no_dec2,
a.no_dec {
  text-decoration: none;
  color: inherit;
}
a.no_dec2:hover {
  color: rgb(191, 12, 240);
}
.btn_verde:hover {
  background-color: rgb(191, 12, 240);
}

.center {
  text-align: center;
}
.blognav {
  display: inline-flex;
}
.uno,
.dos,
.mas {
  text-decoration: none;
  padding: 0.3rem;
}
.uno {
  color: rgb(255, 255, 255);
  border: solid 1px rgb(191, 12, 240);
  background-color: rgb(191, 12, 240);
  margin-right: 1rem;
}
.dos {
  color: rgb(0, 59, 74);
  border: solid 1px rgb(0, 59, 74);
  background-color: rgb(255, 255, 255);
  margin-right: 1rem;
}
.mas {
  color: rgb(0, 59, 74);
  border: solid 1px rgb(0, 59, 74);
  background-color: rgb(255, 255, 255);
}
.uno:hover,
.dos:hover {
  background-color: rgb(191, 12, 240);
}

/* ############################################################################
                          entrada.html
############################################################################ */@media (min-width: 1100px) {
  .entrada_div {
    padding: 0.6rem 9.4rem 4.4rem;
  }
  .entrada1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: left;
    grid-gap: 4rem;
    height: auto;
  }
  blockquote {
    padding-left: 1rem;
  }
  .bigger {
    font-size: 1.2rem;
  }
  .adds {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    grid-gap: 4rem;
    height: auto;
  }
  .cat {
    font-size:0.7rem;
  }
}
@media (max-width: 1100px) and (min-width: 500px) {
  .entrada_div {
    padding: 0.625rem 1.25rem 4.375rem;
  }
  .entrada1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    grid-gap: 4rem;
    height: auto;
  }
  .adds {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
    grid-gap: 4rem;
    height: auto;
  }
  .cat {
    font-size: 0.7;
  }
  ol {
    margin-left: -1rem;
  }
  blockquote {
    padding-left: 1rem;
    position: relative;
    right: 2.5rem;
  }
}
@media (max-width: 500px) {
  .entrada_div {
    padding: 0.6rem 1.25rem 4.4rem 1.3rem;
  }
  .entrada1 {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    grid-gap: 4rem;
    height: auto;
  }
  .adds {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    grid-gap: 4rem;
    height: auto;
  }
  .cat {
    font-size: 0.8rem;
  }
  ol {
    margin-left: -1rem;
  }
  blockquote {
    padding-left: 1rem;
    position: relative;
    right: 2.5rem;
  }
}
.men {
  font-size: 0.7rem;
}
.index {
  color: rgb(0, 59, 74);
  text-decoration: none;
}
.index:hover {
  color: rgb(191, 12, 240);
}
.art {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  padding: 0.5rem;
}
.img_entrada {
  background-color: rgb(229, 225, 254);
}
.img_entrada2 {
  background-color: rgb(255, 255, 255);
}
.leg2 {
  padding: 0 0.5rem 0.5rem;
}
.imag {
  color: rgb(158, 157, 171);
  font-size: 0.7rem;
}

.smaller {
  font-size: 0.8rem;
}
.smaller2 {
  font-size: 0.7rem;
}
.lista_entrada {
  list-style: decimal;
  padding-bottom: 1rem;
}
.lista_entrada:last-child {
  list-style: decimal;
  padding-bottom: 0rem;
}
.styledot {
  list-style: disc;
  padding-bottom: 1rem;
}
.styledot:last-child {
  list-style: disc;
  padding-bottom: 0rem;
}
blockquote {
  border-left: 0.25rem solid rgb(191, 12, 240);
}
h2.nopad {
  margin: 0;
}
h1.nopad2 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
h2.nopad2 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.cate {
  margin-bottom: 0.5rem;
}
.etiquetacat {
  line-height: 1.5rem;
  margin-top: 0;
}
.cat {
  color: rgb(0, 59, 74);
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(0, 59, 74);
  text-decoration: none;
  margin-right: 0.5rem;
}
.cat:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(191, 12, 240);
}
