/**
 * RUTA DE ARCHIVO: /pec3/estilo/estilo.css
 * 
 * Estilos CSS para el documento HTML.
 * 
 * Contiene estilos para el encabezado, pie de página, cuerpo y secciones específicas como index.html, video & blog, y entrada.html.
 * 
 * Los estilos están organizados según consultas de medios para diferentes tamaños de pantalla (PC, tableta, teléfono).
 */

html {
  margin: auto;
  background-color: rgb(247, 247, 247);
  font-family: "Lato", "Noto Serif";
  font-weight: 300;
  color: rgb(0, 59, 74);
  font-size: 1rem; /* Cambiado a rem */
}
strong {
  font-weight: bold;
}
body {
  margin: 0;
}
li {
  list-style: none;
}
a {
  color: rgb(191, 12, 240);
  text-decoration: underline dotted;
}
a:hover {
  color: rgb(0, 59, 74);
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
ul {
  padding: 0;
}
a.spe {
  text-decoration: none;
}
h1,
h2 {
  font-family: "Noto Serif";
}
button{
  color: #fff;
  font-weight: bold;
}
/* //////////////////// */
/* 				 HEADER */
/* //////////////////// */

header {
  background-color: rgb(255, 255, 255);
  vertical-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 1rem;
}
.nav {
  height: 5rem;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.logo {
  height: 2.5rem;
}
.anav {
  color: rgb(0, 59, 74);
  text-decoration: none;
  font-weight: 900;
}
.anav:hover {
  color: rgb(191, 12, 240);
}
.l1 {
  display: inline;
  padding-right: 0.5rem;
}
.l2 {
  display: inline;
  padding-left: 0.5rem;
  border-left: 1px solid;
}

/* //////////////////// */
/* 				 FOOTER */
/* //////////////////// */

footer {
  background-color: rgb(0, 59, 74);
  color: rgb(255, 255, 255);
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 2vw;
  padding-bottom: 4vw;
}
.logos {
  display: inline;
  padding-left: 0.5rem;
}
@media (min-width: 1100px) {
  #pie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .esquina_derecha {
    text-align: right;
  }
  .esquina_izquierda {
    text-align: left;
  }
  .li-link {
    display: inline;
    padding-right: 0.5rem;
  }
  .cookies, .aviso {
    padding-left: 0.5rem;
    border-left: 1px solid;
  }

}
@media (max-width: 1100px) {
  #pie {
    text-align: center;
  }
  .esquina_izquierda {
    text-align: center;
  }
  .esquina_derecha {
    text-align: center;
  }
}
#pie{
  font-size: 0.7rem;
}
.rs {
  text-decoration: none;
}
.rs:hover {
  opacity: 0.7;
}
.elin {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.elin:hover {
  color: rgb(229, 225, 254);
}

/* //////////////////// */
/* 				 BODY   */
/* //////////////////// */
main {
  font-size: 1.2rem;
}
@media (max-width: 500px) {
  main {
    font-size: 1rem;
  }
}
 


/* //////////////////// */
/* 			 INDEX.HTML */
/* //////////////////// */


/* General */
.cabecera{
  background-image: url("../img/hero-image-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.text1{
  line-height: 2rem;
}
.paddingbot {
  padding-bottom: 3vw;
}
.speHead {
  background-color: rgb(247, 247, 247);
}
h1.titulo {
  font-weight: 900;
}
.btn {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 59, 74);
  padding: 0.5rem 1rem;
}
.btn:hover {
  background-color: rgb(191, 12, 240);
  cursor: pointer;
}
.input {
  width: 95%;
  padding: 0.5vw;
  margin-top: -1vw;
  border-radius: 7px;
  border: solid 2px;
  border-color: rgb(229, 225, 254);
}
.input::placeholder {
  font-size: 1rem;
}
.apartados {
  background-color: rgb(229, 225, 254);
}
legend {
  font-size: 40%;
  text-align: right;
}

/**
 * 
 * CSS styles for different screen sizes (PC, Tablet, Phone).
 * 
 * PC:
 * - Defines styles for screens with a minimum width of 1100px.
 * - Adjusts padding, font sizes, and grid layout for PC screens.
 * 
 * Tablet:
 * - Defines styles for screens with a maximum width of 1100px.
 * - Adjusts padding, font sizes, and grid layout for tablet screens.
 * 
 * Phone:
 * - Defines styles for screens with a maximum width of 500px.
 * - Adjusts padding, font sizes, and grid layout for phone screens.
 */

/* PC */

@media (min-width: 1100px) {
  .cabecera{
    padding: 6rem 25rem 6rem 9.5rem;
  }
  .apartados {
    padding-right: 15vw;
    padding-left: 15vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
  .formulario {
    padding: 3rem 15rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
  }
  h1.titulo {
    font-size: 4.5rem;
  }
  .input {
    font-size: 1.5rem;
  }
  .info {
    font-size: 1rem;
  }
  .btn {
    font-size: 1.2rem;
  }
  .leftimage {
    transform: rotate(-5deg);
    text-align: right;
  }
  .rightimage {
    transform: rotate(5deg);
    text-align: right;
  }
  .gridleft {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3vw;
    align-items: center;
    padding-bottom: 3vw;
  }
  .gridright {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3vw;
    align-items: center;
    padding-bottom: 3vw;
  }
  .imapar {
    width: 100%;
  }
}

/* Tablet */

@media (max-width: 1100px) {
  .apartados {
    padding: 3.75rem 1.25rem 1.875rem;
  }
  .formulario {
    padding: 2rem 1rem;
  }

  .cabecera {
    padding: 10rem 1.25rem;
  }
  h1.titulo {
    font-size: 4.5rem;
  }
  .input {
    font-size: 1.5rem;
  }
  .info {
    font-size: 1rem;
  }
  .btn {
    font-size: 1.2rem;
  }
  .leftimage {
    transform: rotate(-5deg);
    text-align: right;
  }
  .rightimage {
    transform: rotate(5deg);
    text-align: right;
  }
  .gridleft {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3vw;
    align-items: center;
    padding-bottom: 3vw;
  }
  .gridright {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3vw;
    align-items: center;
    padding-bottom: 3vw;
  }
  .imapar {
    width: 100%;
  }
}

/* Phone */

@media (max-width: 500px) {
  .apartados {
    padding: 3.75rem 1.25rem 1.875rem;
  }
  .formulario {
    padding: 2rem 1rem;
  }
  .text1{
    line-height: 1rem;
  }
  .cabecera {
    background-position: center bottom;
    padding: 6.25rem 0.125rem;
  }
  h1.titulo {
    font-size: 2rem;
  }
  .campo {
    font-size: 1rem;
  }
  .info {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 1rem;
  }
  .left {
    text-align: right;
  }
  .right {
    text-align: right;
  }
  .gridleft {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3vw;
    align-items: center;
    margin-bottom: 10vw;
  }
  .gridright {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3vw;
    align-items: center;
    margin-bottom: 10vw;
  }
  .leftimage {
    text-align: right;
    order: 1;
    transform: rotate(0);

  }
  .rightimage {
    text-align: right;
    order: 1;
    transform: rotate(0);

  }
  .lefttext {
    order: 2;
  }
  .righttext {
    order: 2;
  }
  .imapar {
    width: 100%;
  }
}


/* //////////////////// */
/* 	VIDEO & BLOG	    */
/* //////////////////// */
@media (min-width: 1100px) {
  .cuerpo {
    padding: 0.625rem 2.5rem 4.375rem;
  }

  @media (max-width: 1100px) and (min-width: 500px) {
    .cuerpo {
      padding: 1rem 1.25rem 4.375rem;
      margin-left: 0.5rem;
    }
  }

  @media (max-width: 500px) {
    .cuerpo {
      padding: 0.625rem 1.25rem 4.375rem;
    }
  }
}
.vidbox {
  border: solid 1px rgb(229, 225, 254);
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

/*Codigo para la parte blog.html*/
@media (min-width: 1100px) {
  .firstblog {
    grid-column: span 2;
  }
  .blo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: left;
    grid-gap: 4vw;
    margin-bottom: 2vw;
  }
  .btn_verde {
    font-size: 40%;
  }
  .eti2 {
    font-size: 40%;
  }
  .blogleg {
    font-size: 80%;
  }
  .center {
    font-size: 90%;
  }
  .imaleg {
    font-size: 70%;
  }
}
@media (max-width: 1100px) and (min-width: 500px) {
  .blo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    grid-gap: 4vw;
    margin-bottom: 2vw;
  }
  .btn_verde {
    font-size: 40%;
  }
  .eti2 {
    font-size: 40%;
  }
  .blogleg {
    font-size: 60%;
  }
  .center {
    font-size: 90%;
  }
  .imaleg {
    font-size: 70%;
  }
}
@media (max-width: 500px) {
  .blo {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    height: auto;
    grid-gap: 2.5rem;
    margin-bottom: 1.25rem;
  }
  .btn_verde {
    font-size: 90%;
  }
  .eti2 {
    font-size: 90%;
  }
  .blogleg {
    font-size: 100%;
  }
  .center {
    font-size: 90%;
  }
}
.firstblog {
  border: solid 1px rgb(229, 225, 254);
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.overlaytext {
  position: relative;
}
.blogima {
  width: 100%; /*Usado en entrada.html tambien, cuidado si se modifica  ############################################################################*/
}
.btn_verde {
  position: absolute;
  border: none;
  top: 2%;
  left: 1%;
  background-color: rgb(0, 59, 74);
  color: rgb(255, 255, 255);
  padding: 0.3125rem;
}
.eti2 {
  position: absolute;
  border: none;
  bottom: 4%;
  right: 2%;
  background-color: rgba(247, 247, 247, 0.7);
  padding: 0.1875rem 0.3125rem;
  font-weight: 700;
}
.blogleg {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1.25rem 1.25rem;
}
.imaleg {
  color: rgb(158, 157, 171);
}
a.speT,
a.speC {
  text-decoration: none;
  color: inherit;
}
a.speT:hover {
  color: rgb(191, 12, 240);
}
.btn_verde:hover {
  background-color: rgb(191, 12, 240);
}
.leer {
  font-size: 100%;
}
.center {
  text-align: center;
}
.blognav {
  /*Usado en Entrada.html  ############################################################################*/
  display: inline-flex;
}
.First,
.Next,
.More {
  text-decoration: none;
  padding: 0.3vw;
}
.First {
  color: rgb(255, 255, 255);
  border: solid 1px rgb(191, 12, 240);
  background-color: rgb(191, 12, 240);
  margin-right: 1vw;
}
.Next {
  color: rgb(0, 59, 74);
  border: solid 1px rgb(0, 59, 74);
  background-color: rgb(255, 255, 255);
  margin-right: 1vw;
}
.More {
  color: rgb(0, 59, 74);
  border: solid 1px rgb(0, 59, 74);
  background-color: rgb(255, 255, 255);
}
.Next:hover,
.More:hover {
  background-color: rgb(191, 12, 240);
}

/* Codigo para la parte entrada.html  ############################################################################*/
@media (min-width: 1100px) {
  .entfor {
    padding: 0.625rem 9.375rem 4.375rem;
  }
  .cueent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: left;
    grid-gap: 4vw;
    height: auto;
  }
  blockquote {
    padding-left: 1rem;
  }
  .bigger {
    font-size: 1.2rem;
  }
  .adds {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    grid-gap: 4vw;
    height: auto;
  }
  .cat {
    font-size: 75%;
  }
}
@media (max-width: 1100px) and (min-width: 500px) {
  .entfor {
    padding: 0.625rem 1.25rem 4.375rem;
  }
  .cueent {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    grid-gap: 4vw;
    height: auto;
  }
  .adds {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
    grid-gap: 4vw;
    height: auto;
  }
  .cat {
    font-size: 75%;
  }
  ol {
    margin-left: -1rem;
  }
  blockquote {
    padding-left: 1rem;
    position: relative;
    right: 2.5rem;
  }
}
@media (max-width: 500px) {
  .entfor {
    padding: 0.625rem 1.25rem 4.375rem 1.25rem;
  }
  .cueent {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    grid-gap: 4vw;
    height: auto;
  }
  .adds {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    grid-gap: 4vw;
    height: auto;
  }
  .cat {
    font-size: 85%;
  }
  ol {
    margin-left: -1rem;
  }
  blockquote {
    padding-left: 1rem;
    position: relative;
    right: 2.5rem;
  }
}
.men {
  font-size: 70%;
}
.hent {
  color: rgb(0, 59, 74);
  text-decoration: none;
}
.hent:hover {
  color: rgb(191, 12, 240);
}
.art {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  padding: 0.5vw;
}
.figur {
  background-color: rgb(229, 225, 254);
}
.figur2 {
  background-color: rgb(255, 255, 255);
}
.leg2 {
  padding: 0 0.5rem 0.5rem;
}
.imag {
  color: rgb(158, 157, 171);
  font-size: 70%;
}
.Fit {
  color: rgb(0, 59, 74);
}
.smaller {
  font-size: 85%;
}
.smaller2 {
  font-size: 75%;
}
.stylenum {
  list-style: decimal;
  padding-bottom: 1rem;
}
.stylenum:last-child {
  list-style: decimal;
  padding-bottom: 0rem;
}
.styledot {
  list-style: disc;
  padding-bottom: 1rem;
}
.styledot:last-child {
  list-style: disc;
  padding-bottom: 0rem;
}
blockquote {
  border-left: 0.25rem solid rgb(191, 12, 240);
}
h2.nopad {
  margin: 0;
}
h1.nopad2 {
  margin-top: 0.5vw;
  margin-bottom: 0;
}
h2.nopad2 {
  margin-top: 0.5vw;
  margin-bottom: 0;
}
.cate {
  margin-bottom: 0.5rem;
}
.etiquetacat {
  line-height: 1.5rem;
  margin-top: 0;
}
.cat {
  color: rgb(0, 59, 74);
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(0, 59, 74);
  text-decoration: none;
  margin-right: 0.5rem;
}
.cat:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(191, 12, 240);
}

/*Codigo para la parte video.html  ############################################################################*/
@media (min-width: 1100px) {
  .vid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: left;
    grid-gap: 4vw;
    height: auto;
  }
}
@media (max-width: 1100px) and (min-width: 500px) {
  .vid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    grid-gap: 4vw;
    height: auto;
  }
}
@media (max-width: 500px) {
  .vid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    height: auto;
    grid-gap: 4vw;
  }
}
.vidlegend {
  box-sizing: border-box;
  width: 100%;
  font-size: 80%;
  padding: 0 1.25rem 1.25rem;
}
.responsiveiframe {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}
